.mediaPlayer {
   position: fixed;
   left: 50%;

   translate: -50% 0;
   bottom: .5em;

   display: grid;

   width: 100%;
   max-width: 41.5em;

   padding-left: var(--appSideSpace);
   padding-right: calc(var(--appSideSpace) + var(--scrollbarSize));
   border-radius: calc(2.38 * var(--borderRadiusStandard));
}
