.mediaPlayer {
   position: fixed;
   left: 50%;

   $halfScrollbarSize: calc(var(--scrollbarSize) / 2);

   translate: calc(-50% - $halfScrollbarSize) 0;
   bottom: .5em;

   width: 90%;
   max-width: 41.5em;

   border-radius: calc(2.38 * var(--borderRadiusStandard));
}
