$volumeBarSmoothing: calc(var(--borderRadiusStandard) - 0.1em);

.volumeBar.volumeBar {
   height: 0.75em;
   border-radius: $volumeBarSmoothing;
}

.volumeBarHighContrast.volumeBarHighContrast {
   background: #d9d4d5;
}

.volume.volume {
   border-radius: $volumeBarSmoothing 0 0 $volumeBarSmoothing;
}

@media (prefers-color-scheme: dark) {
   .volumeBarHighContrast.volumeBarHighContrast {
      background: #605f60;
   }
}