$volumeBarSmoothing: calc(var(--borderRadiusStandard) - 0.1em);

.volumeBar.volumeBar {
   height: 0.75em;
   border-radius: $volumeBarSmoothing;
}

.volumeBarHighContrast.volumeBarHighContrast {
   background: var(--volumeBarHighContrast);
}