.libraryLoadingLayout {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   display: grid;
   grid-template-rows: 1fr max-content max-content 1fr;
 }

.loadingTitle {
   font-weight: 700;
   text-align: center;

   grid-row: 2;
}

.loadingSpinnerLayout.loadingSpinnerLayout {
   grid-row: 3;
   justify-self: center;

   transform: scale(1.125) translateY(1.125em);
}

.loadingSpinner.loadingSpinner {
   stroke-width: .4em;
}

@media (min-width: 33.75em) {
   .loadingSpinnerLayout.loadingSpinnerLayout {
      transform: scale(1.4) translateY(1.4em);
   }
}
