.libraryLoadingLayout {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 5;

   background: var(--BG);
}

.loadingIcon {
   width: 10em;

   filter: revert;
}

.loadingSpinnerLayout.loadingSpinnerLayout {
   transform: scale(1.125) translateY(1.125em);
}

.loadingSpinner.loadingSpinner {
   stroke-width: .4em;
}

@media (min-width: 33.75em) {
   .loadingSpinnerLayout.loadingSpinnerLayout {
      transform: scale(1.4) translateY(1.4em);
   }
}
