.libraryLoadingLayout {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 5;

   display: grid;
   grid-template-rows: 1fr max-content 1fr;
   justify-content: center;
   align-items: center;

   background: var(--BG);
}

.loadingIcon.loadingIcon {
   grid-row: 2;
   grid-column: 1;
   justify-self: center;

   width: 10em;

   filter: revert;

   transition: translate 500ms;
}

.loadingIcon.loadingIcon.slowLoad {
   translate: 0 -4em;
}
