.buttonForSetting.buttonForSetting {
   font-size: 1rem;
   font-weight: 700;

   width: max-content;

   background: var(--selected);
}

.dangerButton.dangerButton:focus,
.dangerButton.dangerButton:hover {
   color: var(--widgetBG);
   background: red;
}

:root[style*='color-scheme: dark;'] {
   .dangerButton.dangerButton:focus,
   .dangerButton.dangerButton:hover {
      color: var(--textColor);
   }
}
