@use 'sass:map';

@use '../../../../breakpoints.scss' as *;

.buttonForSetting.buttonForSetting {
   font-size: .8rem;
   font-weight: 700;

   width: max-content;

   background: var(--selected);
}

.buttonForSetting.buttonForSetting:focus,
.buttonForSetting.buttonForSetting:hover {
   background: var(--highlight);
}

.dangerButton.dangerButton:focus,
.dangerButton.dangerButton:hover {
   color: var(--widgetBG);
   background: red;
}

:root[style*='color-scheme: dark;'] {
   .dangerButton.dangerButton:focus,
   .dangerButton.dangerButton:hover {
      color: var(--textColor);
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .buttonForSetting.buttonForSetting {
      font-size: .9rem;
   }
}
