@use 'sass:map';

@use '../../breakpoints' as *;

.settingsButton {
   grid-column: 4;
}

.settingsIcon {
   width: 1.4em;
   height: 100%;

   border-radius: var(--borderRadiusStandard);
}

@media (min-width: map.get($breakpoints, 'largeScreen')) {
   .settingsButton {
      grid-column: 7;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .settingsIcon {
      width: 1.6em;
   }
}
