@use 'sass:map';

@use '../../breakpoints' as *;

.newTabButtonLayout {
   margin-left: 1em;
}

// TODO - find actual fix
//  for style overrides
.newTabButton.newTabButton {
   padding: 0.4em;
   border-radius: var(--borderRadiusStandard);
}

.newTabButton:focus,
.newTabButton:hover {
   background: var(--highlight);
}

.newTabButton:active {
   background: var(--selected);
}

.plusIcon {
   filter: var(--iconColor);

   width: 1em;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .plusIcon {
      width: 1.2em;
   }
}
