.button {
   color: inherit;

   width: 100%;

   background: 0;
   padding: 0;
   border: 0;
}

.button {
   padding: 0.5em;
   border-radius: var(--borderRadiusStandard);
}

.button:focus,
.button:hover {
   // Already has a focus
   // indicator below.
   outline: none;

   background: var(--highlight);
}

.button:active {
   background: var(--selected);
}
