@use 'sass:map';

@use '../../../../../../breakpoints' as *;

$iconSize: 1.2em;
.mediaControlButtonIcon {
   width: $iconSize;
}

.playPreviousButton {
   rotate: 180deg;
}

.volumeButton {
   padding: .3em;
}

.volumeIcon {
   width: $iconSize * 2 - .8em;
}

.loopButton {
   grid-column: -2;
}

.shuffleButton {
   grid-column: -1;
}

.stopIcon {
   // Stop button is too big normally
   width: $iconSize - .1em;
}

.loopIcon,
.shuffleIcon {
   width: $iconSize + .8em;
}

.largeScreenButton {
   display: none;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .mediaControlButtonIcon {
      width: 1.5em;
   }

   .stopIcon {
      /* Stop button is too big normally */
      width: 1.4em;
   }

   .volumeIcon {
      width: 2.1em;
   }

   .loopIcon,
   .shuffleIcon {
      width: 1.9em;
   }
}
