@use 'sass:map';

@use '../../../../breakpoints.scss' as *;

.dialogButtons {
   grid-row: 2;

   display: grid;
   grid-auto-flow: column;
   grid-column-gap: 1em;
   justify-content: end;
   align-items: center;
}

.dialogButtons > button {
   font-size: 1rem;
   font-weight: 700;

   background: var(--selected);
   padding: .5em .75em;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .dialogButtons > button {
      font-size: 1.1rem;
   }
}
