@use 'sass:map';

@use '../../../../../../../breakpoints' as *;

.volumeButton {
   display: grid;
   grid-template-columns: max-content 4em;
   align-items: center;
   grid-column-gap: 0.5em;

   padding: 0.2em 0.5em;
}

.volumeButton:focus .volumeBar,
.volumeButton:hover .volumeBar {
   background: #d9d4d5;
}

.volumeIcon {
   width: 2em;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .volumeIcon {
      width: 2.1em;
   }
}
