.contextMenu {
   // Keeps parent from overriding
   // text alignment.
   text-align: left;

   position: absolute;

   outline: none;

   z-index: 3;
}

.contextMenuLayout {
   display: grid;
   grid-template-columns: 12ch;
   grid-row-gap: .5em;

   padding: var(--appSideSpace);
   background: var(--BG);
   border: var(--widgetBorder);
   border-radius: var(--borderRadiusStandard);
}

.nestedContextMenu {
   top: 0;
   left: 100%;
}
