.contextMenuItem {
   cursor: pointer;
}

.contextMenuActionName {
   padding: .25em .5em;

   border-radius: var(--borderRadiusStandard);

   margin: 0;
}

.contextMenuActionName:focus,
.contextMenuActionName:hover {
   background: var(--highlight);
}

.contextMenuActionName:active {
   background: var(--selected);
}