@use 'sass:map';

@use '../../breakpoints' as *;

.songLayout {
   display: grid;
   grid-template-columns: 2.604166666666667em 54%;
   grid-column-gap: .75em;
   align-items: center;
}

.song > *,
.song ~ p {
   font-size: .9rem;
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .songLayout {
      grid-template-columns: 3.125em 54%;
   }

   .song > *,
   .song ~ p {
      font-size: 1rem;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .songLayout {
      grid-template-columns: 4em 54%;
   }

   .song > *,
   .song ~ p {
      font-size: 1.2rem;
   }
}
