@use 'sass:map';

@use '../../../../breakpoints.scss' as *;

.addStuffButton {
   font-size: .9rem;
   font-weight: 700;

   display: flex;
   justify-content: center;
   align-items: center;

   position: sticky;
   top: .25em;

   box-shadow: 0 1px 1px 0 #000;

   z-index: 1;

   background: #3f3f3f;
   padding: 1em 0;
}

.addStuffText {
   margin: 0 1em;
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .addStuffButton {
      font-size: 1rem;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .addStuffButton {
      font-size: 1.125rem;
   }
}
