.addStuffButton {
   font-size: .9rem;
   font-weight: 700;

   display: flex;
   justify-content: center;
   align-items: center;

   padding: 1em 0;
}

.addStuffIcon {
   width: 1em;
}

.addStuffText {
   margin: 0 1em;
}
