@use 'sass:map';

@use '../../breakpoints.scss' as *;

// Note: when changing the font size of
// song artists also change the max width
// if needed.
.mainSongInfo > * {
   text-align: left;
   text-overflow: ellipsis;

   white-space: nowrap;

   overflow: hidden;
}

.songTitle,
.songArtists,
.songDuration {
   margin: 0;
}

.songTitle,
.songDuration {
   font-size: .9rem;
}

.songArtists {
   font-size: .8rem;
   font-weight: 500;
}

.songDuration {
   text-align: right;
   font-variant-numeric: tabular-nums;
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .songTitle,
   .songDuration {
      font-size: 1rem;
   }

   .songArtists {
      font-size: .9rem;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {

   .songTitle,
   .songArtists,
   .songDuration {
      font-size: 1.2rem;
   }
}
