@use 'sass:map';

@use '../../breakpoints.scss' as *;

.songTitle,
.songArtists,
.songDuration {
   margin: 0;
}

.songTitle {
   font-size: .9rem;
}

.songArtists {
   font-size: .8rem;
   font-weight: 500;
}

.songDuration {
   font-size: .9rem;
   text-align: right;
   font-variant-numeric: tabular-nums;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {

   .songTitle,
   .songArtists,
   .songDuration {
      font-size: 1.2rem;
   }
}
