@use 'sass:map';

@use '../../breakpoints.scss' as *;

// Note: when changing the font size of
// song artists also change the max width
// if needed.
.songInfo > * {
   text-align: left;
   text-overflow: ellipsis;
   line-height: 1.3;

   white-space: nowrap;

   overflow: hidden;
}

.songTitle,
.songArtists {
   margin: 0;
}

.songArtists {
   font-size: .8rem;
   font-weight: 500;
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .songArtists {
      font-size: .9rem;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .songArtists {
      font-size: 1.2rem;
   }
}
