.tab {
   cursor: pointer;

   padding: 0.25em 0.5em;
   border-radius: var(--borderRadiusStandard);
}

.tab:focus,
.tab:hover {
   background: var(--highlight);
}

.tab:active {
   background: var(--selected);
}

.currentTab {
   background: var(--selected);
}