.dialogContent {
   overflow-y: auto;
}

.dialogContent > * {
   font-size: .8rem;
}

.collection {
   font-size: .9rem;

   display: grid;

   height: 100%;

   padding-bottom: 1em;
}

.collectionLayout {
   font: inherit;
   color: inherit;

   max-width: 100%;
   height: 100%;

   background: inherit;

   padding-right: 1em;

   border: none;
   outline: none;
}

.collectionSong {
   text-overflow: ellipsis;
   
   cursor: pointer;

   overflow: hidden;

   padding: .5em .5em;

   border-radius: var(--borderRadiusStandard);
}

.collectionSong:focus,
.collectionSong:hover {
   background: var(--highlight);
}

// Active state provided by the element tag.

.collectionSong:not(.collection:last-child) {
   margin-bottom: .5em;
}

.selectedSongInfo {
   grid-column: 3;
}

.selectedSongInfo,
.selectedSongInfo > * {
   display: none;
}

.selectedSongInfo {}

@media (min-width: 40.9375em) {
   .dialogContent {
      display: grid;
      grid-template-columns: max-content 1em 1fr;
   }

   .selectedSongInfo,
   .selectedSongInfo > * {
      display: revert;
   }

   .selectedSongInfo {
      font-size: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      min-width: 100%;
   }

   // Cover art container
   .selectedSongInfo > *:has(.selectedSongCoverArtIcon.selectedSongCoverArtIcon) {      
      margin-bottom: 1em;
   }

   .selectedSongCoverArtIcon.selectedSongCoverArtIcon {
      width: 4em;
   }

   // Song info text
   .selectedSongInfo > *:not(:has(.selectedSongCoverArtIcon.selectedSongCoverArtIcon)) {
      max-width: 100%;
   }

   // Each heading in the song info text
   .selectedSongInfo > *:not(:has(.selectedSongCoverArtIcon.selectedSongCoverArtIcon)) > * {
      text-align: center;
   }
}

@media (min-width: 75em) {
   .collection {
      font-size: 1.2rem;

      max-width: revert;
   }

   .selectedSongInfo {
      font-size: 3rem;
   }

   // Song artists text
   .selectedSongInfo > *:not(:has(.selectedSongCoverArtIcon.selectedSongCoverArtIcon)) > *:last-child {
      font-size: 2rem;
   }
}
