:root {
   --textColor: #333;

   --highlight: #ebeaf3;
   --selected: #e7e2e3;

   --searchClearHighlight: #d1d1d1;
   --searchClearSelected: #c9c9c9;

   --barBG: var(--highlight);
   --barTrackColor: #ff00e6;

   --matchAppTheme: initial;

   --widgetBG: #f7f7f7;
   --widgetBorderColor: #e3e3e3;
   --widgetBorder: solid var(--widgetBorderColor) 1px;

   --importButtonBG: var(--widgetBG);

   --borderRadiusStandard: 0.25em;

   --defaultCoverArtBG: #dad6d6;

   --BG: #fff;
}

:root[style*='color-scheme: dark;'] {
   --textColor: #efefef;

   --highlight: #464646;
   --selected: #4d4c4d;

   --searchClearHighlight: #5f5f5f;
   --searchClearSelected: #696969;

   /* Bar BG = selected */

   --matchAppTheme: invert(1);

   --widgetBG: #343535;
   --widgetBorderColor: #191919;
   --widgetBorder: solid var(--widgetBorderColor) 1px;

   --importButtonBG: #3f3f3f;

   --defaultCoverArtBG: #5a595a;

   --BG: #282828;
}
