:root {
   --textColor: #2e3440;

   --highlight: #d8dee9;
   --selected: #cbd1db;

   --searchClearHighlight: #dcdfe6;
   --searchClearSelected: #d3d5db;

   --barBG: var(--highlight);
   --barTrackColor: #ff00e6;

   --matchAppTheme: initial;

   --widgetBG: #e5e9f0;
   --widgetBorderColor: #c3c9d3;
   --widgetBorder: solid var(--widgetBorderColor) 1px;

   --importButtonBG: var(--selected);

   --borderRadiusStandard: 0.25em;

   --defaultCoverArtBG: var(--selected);

   --BG: #eceff4;
}

:root[style*='color-scheme: dark;'] {
   --textColor: #eceff4;

   --highlight: #4c566a;
   --selected: #434c5e;

   --searchClearHighlight: var(--highlight);
   --searchClearSelected: #535e74;

   /* Bar BG = selected */

   --matchAppTheme: invert(1);

   --widgetBG: #3b4252;
   --widgetBorderColor: #242933;
   --widgetBorder: solid var(--widgetBorderColor) 1px;

   --defaultCoverArtBG: var(--selected);

   --BG: #2e3440;
}
