.libraryView {
   display: grid;
   grid-template-rows: auto 1fr;
   grid-template-columns: 100%;
   grid-row-gap: 1.25em;

   height: 100%;
}

@media (min-width: 38.5em) {
   .libraryView {
      grid-template-rows: 1fr;
   }
}
