.libraryView {
   display: grid;
   grid-template-rows: auto 1em 1fr;
   grid-template-columns: 100%;
   grid-row-gap: .25em;

   height: 100%;
}

.loadingSpinnerLayout.loadingSpinnerLayout {
   grid-row: 3;
   justify-self: center;

   transform: scale(1.125) translateY(1.125em);
}

.loadingSpinner.loadingSpinner {
   stroke-width: .4em;
}

@media (min-width: 33.75em) {
   .loadingSpinnerLayout.loadingSpinnerLayout {
      transform: scale(1.4) translateY(1.4em);
   }
}
