.categories {
   font-weight: 700;

   border-right: var(--widgetBorder);
   padding-right: 1em;
}

.categoriesLayout {
   display: grid;
   grid-row-gap: 1em;
}

.category {
   padding: .35em .75em;
}

.activeCategory {
   background: var(--highlight);
}
