@use 'sass:map';

@use '../../../../breakpoints' as *;

.song {
   text-align: left;

   display: grid;
   grid-template-columns: 1fr 1fr 0.5fr;
   grid-column-gap: 1em;

   cursor: pointer;

   padding: 0.5em var(--appSideSpace);
   border-radius: 0.25em;
}

.song:not(.song:last-child) {
   margin-bottom: 0.5em;
}

.song:focus,
.song:hover {
   background: var(--highlight);
}

.song > h4 {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;

   overflow: hidden;
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .song > h4 {
      max-width: 90%;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpSearchBar')) {
   .song > h4 {
      max-width: 80%;
   }
}
