.song {
   text-align: left;

   display: grid;
   grid-template-columns: 1fr 1fr 0.5fr;
   grid-column-gap: 1em;

   cursor: pointer;

   padding: 0.5em var(--appSideSpace);
   border-radius: 0.25em;
}

.song:not(.song:last-child) {
   margin-bottom: 0.5em;
}

.song:focus,
.song:hover {
   background: var(--highlight);
}
