@use 'sass:map';

@use '../../../breakpoints' as *;

.appHeaderLayout {
   display: grid;
   grid-template-columns: fit-content(100%) auto 1fr max-content;
   grid-column-gap: .5em;
   align-items: center;

   padding: var(--appSideSpace);
}

@media (min-width: map.get($breakpoints, 'largeScreen')) {
   .appHeaderLayout {
      grid-template-columns: fit-content(100%) max-content max-content 1em 10em auto max-content;
   }
}

@media (min-width: 43.75em) {
   .appHeaderLayout {
      grid-template-columns: fit-content(100%) max-content max-content 1em 12em auto max-content;
   }
}
