.songQueue {
   font-size: .8rem;

   position: absolute;
   bottom: 0;
   right: 0;

   overflow: hidden;

   width: 60%;

   background: var(--widgetBG);
   border: var(--widgetBorder);
   border-radius: calc(2 * var(--borderRadiusStandard));

   $sideSpace: 1em;
   margin: 0 $sideSpace calc($sideSpace - .5em) 0;
}
