@use 'sass:map';

@use '../../breakpoints.scss' as *;

.songQueueArea {
   position: absolute;
   left: 50%;
   translate: -50% 0;
   bottom: 6.2em;

   width: 100%;
   max-width: 41.5em;

   padding-left: var(--appSideSpace);
   padding-right: calc(var(--appSideSpace) + var(--scrollbarSize));
}

.songQueue {
   overflow: hidden;
   
   opacity: .4;

   max-width: 9.875em;

   background: var(--widgetBG);
   border: var(--widgetBorder);
   border-radius: calc(1.2 * var(--borderRadiusStandard));

   margin-left: auto;
}

.songQueue:focus,
.songQueue:hover,
.songQueuePinned {
   opacity: 1;
}

.songQueueExpanded {
   max-width: 12.375em;
}

@media (min-width: 25.5em) {
   .songQueue {
      max-width: 11.125em;
   }

   .songQueueExpanded {
      max-width: 16em;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .songQueueArea {
      bottom: 6.7em;
   }
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .songQueue {
      max-width: 12.375em;
   }

   .songQueueExpanded {
      max-width: 20em;
   }
}

@media (min-width: 56.125em) {
   .songQueueArea {
      bottom: 7.2em;
   }
}
