.songQueue {
   font-size: .8rem;

   position: absolute;
   bottom: 0;
   right: 0;

   overflow: hidden;
   
   opacity: .4;

   width: 50%;

   background: var(--widgetBG);
   border: var(--widgetBorder);
   border-radius: calc(2 * var(--borderRadiusStandard));

   $sideSpace: 1em;
   margin: 0 $sideSpace calc($sideSpace - .5em) 0;
}

.songQueue:focus,
.songQueue:hover,
.songQueuePinned {
   opacity: 1;
}

.songQueueExpanded {
   width: 60%;
}
