.setting {
   display: grid;
   grid-template-rows: auto 1fr;
   grid-row-gap: .75em;

   width: 100%;

   padding: .125em;
}

.setting > * {
   font-size: .93rem;
}

.setting:has(button) {
   pointer-events: none;
}

.setting button {
   pointer-events: all;
}

.settingText {
   font: inherit;
   font-weight: 700;
   text-transform: capitalize;

   display: block;

   padding-bottom: .25em;
}
