@use 'sass:map';

@use '../../../breakpoints' as *;

.tab {
   cursor: pointer;

   padding: 0.25em 0.5em;
   border-radius: var(--borderRadiusStandard);
}

.tab:focus,
.tab:hover {
   background: var(--highlight);
}

.tab:active {
   background: var(--selected);
}

.currentTab {
   background: var(--selected);
}

.tabText {
   font-size: 1.4rem;

   margin: 0;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .tabText {
      font-size: 1.6rem;
   }
}
