* {
   box-sizing: border-box;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
}

img {
   display: block;

   max-width: 100%;
}

input,
textarea {
   font: inherit;

   /* For firefox */
   min-width: 0;
}

button {
   font: inherit;

   cursor: pointer;
}

/* ================== */

/*
   Color Palette:
   Menu/Widget BG: #f7f7f7
*/

:root {
   --textColor: #333;
   --searchBorder: solid #d6d6d6 1px;

   --highlight: #ebeaf3;
   --selected: #e7e2e3;

   --barBG: var(--highlight);
   --barTrackColor: #ff00e6;

   --iconColor: initial;

   --widgetBG: #f7f7f7;
   --widgetBorder: solid #e3e3e3 1px;

   --BG: #fff;
}

::-webkit-scrollbar {
   width: 0.5em;

   background: var(--barBG);
}

::-webkit-scrollbar-thumb {
   background: grey;
   border-radius: 0.15em;
}

::-webkit-scrollbar-thumb:hover {
   background: #9b9b9b;
}

::-webkit-scrollbar:horizontal,
::-webkit-scrollbar-thumb:horizontal {
   /* background: 0; */
}

body {
   color: var(--textColor);

   background: var(--BG);
}

/* ================== */
/* Defaults */
.listDefaults {
   list-style: none;
   padding: 0;
   margin: 0;
}

.buttonDefaults {
   color: inherit;

   background: 0;
   padding: 0;
   border: 0;
}

/* ================== */

.app {
   /*
      Use rems to keep it a consistent size
      regardless of font.
   */
   --appSideSpace: 0.75rem;

   display: grid;
   grid-template-rows: max-content 1fr max-content;

   height: 100vh;
}

/* ================== */

.appHeader {
   background: var(--widgetBG);
   border-bottom: var(--widgetBorder);
}

.appHeaderLayout {
   display: grid;
   grid-template-columns: fit-content(100%) auto 1fr max-content;
   grid-column-gap: 1em;
   align-items: center;

   padding: var(--appSideSpace);
}

.tabs {
   white-space: nowrap;

   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: max-content;
   grid-column-gap: 0.5em;
   align-items: center;

   overflow-x: auto;
}

.tab {
   font-size: 1.2rem;

   cursor: pointer;

   padding: 0.25em 0.5em;
   border-radius: 0.25em;
   margin: 0;
}

.tab:focus,
.tab:hover {
   background: var(--highlight);
}

/* Specificity */
.tab.currentTab {
   background: var(--selected);
}

.newTabButton {
   padding: 0.4em;
   border-radius: 0.25em;
}

.newTabButton:focus,
.newTabButton:hover {
   background: var(--highlight);
}

.newTabButton:active {
   background: var(--selected);
}

.plusIcon {
   filter: var(--iconColor);

   width: 1em;
}

.settingsButton {
   grid-column: -1;
}

.settingsIcon {
   filter: var(--iconColor);

   width: 1.4em;
   height: 100%;

   border-radius: 0.25em;
}

/* ================== */

.appMain {
   overflow-y: auto;

   background: var(--BG);
}

.appMainLayout {
   padding: 0 var(--appSideSpace) 1em var(--appSideSpace);
}

.libraryView {
}

.libraryViewTopBar {
   position: sticky;
   top: 0;

   background: var(--BG);
   padding-top: 1em;
}

.searchField {
   width: 10em;

   background: var(--selected);
   padding: 0.25em 0.5em;
   border-radius: 0.25em;
   margin: auto;

   transition: width 250ms;
}

.searchField:focus-within {
   width: 14em;
}

.searchFieldLayout {
   display: flex;
   align-items: center;
}

.searchIcon {
   filter: var(--iconColor);

   width: 1em;

   margin-right: 0.4em;
}

.searchFieldInput {
   color: inherit;

   background: 0;
   border: 0;
}

.searchFieldInput:focus {
   outline: none;
}

.libraryViewHeaders,
.song {
   text-align: left;

   display: grid;
   grid-template-columns: 1fr 1fr .5fr;
   grid-column-gap: 1em;
}

.libraryViewHeaders {
   background: var(--BG);
   padding: var(--appSideSpace);
}

.libraryViewHeader {
   display: flex;
   align-items: baseline;
}

.libraryViewHeader:focus,
.libraryViewHeader:hover {
   cursor: pointer;
}

.libraryViewHeaderText {
   margin: 0;
}

.sortArrowIcon {
   filter: var(--iconColor);

   width: 0.5em;

   margin-left: 0.5em;
}

.sortArrowIconReverse {
   rotate: 180deg;
}

.songs {

}

.song {
   cursor: pointer;

   padding: 0.5em var(--appSideSpace);
   border-radius: 0.25em;
}

.song:not(.song:last-child) {
   margin-bottom: 0.5em;
}

.song:focus,
.song:hover {
   background: var(--highlight);
}

.songTitle,
.songArtist,
.songDuration {
   font-size: 1rem;

   margin: 0;
}

.song .songTitle,
.song .songArtist {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;

   overflow: hidden;
}

/* ================== */

.appFooter {
   align-self: end;

   background: var(--widgetBG);
   padding: var(--appSideSpace);
   border-top: var(--widgetBorder);
}

.mediaPlayer {
   width: 100%;
}

.mediaPlayerOpen,
.mediaPlayer:active {
}

.mediaPlayerLayout {
}

.songPlayingLarge {
   display: flex;
   align-items: center;

   margin-bottom: 0.75em;
}

.coverArt {
   filter: var(--iconColor);

   width: 3.5em;

   padding: 0.75em;
   background: var(--highlight);
   border-radius: 0.25em;

   margin-right: 1em;
}

.songPlaying {
   display: none;
}

.songPlayingTop {
   display: grid;
   grid-template-columns: repeat(3, max-content);
   grid-column-gap: 2em;

   padding: 0 0.5em;

   margin-bottom: 0.5em;
}

.mediaControls {
   display: grid;
   grid-template-columns: repeat(5, max-content) 6fr 1fr repeat(2, max-content);
   grid-column-gap: 0.5em;
   align-items: center;

   margin-bottom: 0.25em;
}

.mediaControlButton {
   cursor: pointer;

   padding: 0.5em;
   border-radius: 0.25em;
}

.mediaControlButton:focus,
.mediaControlButton:hover {
   background: var(--highlight);
}

.rewindButton {
   rotate: 180deg;
}

.volumeButton {
   display: grid;
   grid-template-columns: max-content 4em;
   align-items: center;
   grid-column-gap: 0.5em;

   padding: 0.2em 0.5em;
}

.volumeButton:focus .volumeBar,
.volumeButton:hover .volumeBar {
   background: #d9d4d5;
}

.loopButton {
   grid-column: -2;
}

.shuffleButton {
   grid-column: -1;
}

.mediaControlButtonIcon {
   filter: var(--iconColor);

   width: 1.4em;
}

.stopIcon {
   /* Stop button is too big normally */
   width: 1.3em;
}

.volumeIcon {
   width: 2em;
}

.loopIcon,
.shuffleIcon {
   width: 1.8em;
}

.bar {
   cursor: pointer;

   height: 1em;

   background: var(--barBG);
   border-radius: 0.25em;
}

.barValue {
   pointer-events: none;

   height: 100%;

   background: var(--barTrackColor);
   border-radius: 0.25em 0 0 0.25em;
}

.volumeBar {
   width: 100%;
   height: 0.75em;
   border-radius: 0.15em;
}

.volume {
   width: 45%;

   border-radius: 0.15em 0 0 0.15em;
}

.durationBar {
   width: 100%;
}

.durationBarProgress {
   width: 65%;
}

/* ================== */
@media (min-width: 40.75em) {
   /* Previous font size: 1.2rem */
   .tab {
      font-size: 1.4rem;
   }

   /* Previous font size: 1rem */
   .searchField {
      font-size: 1.2rem;
   }

   /* Previous size: 1em */
   .plusIcon {
      width: 1.2em;
   }

   /* Previous size: 1.4em */
   .settingsIcon {
      width: 1.6em;
   }

   /* Previous font size: 1.17em */
   .libraryViewHeaderText {
      font-size: 1.37rem;
   }

   .songTitle,
   .songArtist,
   .songDuration {
      font-size: 1.2rem;
   }

   .mediaControlButtonIcon {
      width: 1.5em;
   }

   .stopIcon {
      /* Stop button is too big normally */
      width: 1.4em;
   }

   .volumeIcon {
      width: 2.1em;
   }

   .loopIcon,
   .shuffleIcon {
      width: 1.9em;
   }
}

/* Lower song playing can be shown at this width */
@media (min-width: 49em) {
   .songPlayingTop {
      display: none;
   }

   .songPlaying {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      justify-content: center;
      grid-column-gap: 2em;
   }

   .song .songTitle,
   .song .songArtist {
      max-width: 90%;
   }
}

@media (min-width: 56.25em) {
   .searchField {
      width: 12em;
   }

   .searchField:focus-within {
      width: 18em;
   }

   .song .songTitle,
   .song .songArtist {
      max-width: 80%;
   }
}

@media (min-width: 93.75em) {
   .songPlaying {
      position: absolute;
      left: 0;
      right: 0;

      margin: auto;
   }

   .songPlaying {
      width: max-content;
   }
}

/* ================== */

/* Dark Mode */
@media (prefers-color-scheme: dark) {
   :root {
      --textColor: #efefef;
      --searchBorder: #1e1e1e;

      --highlight: #464646;
      --selected: #4d4c4d;

      /* Bar BG = selected */

      --iconColor: invert(1);

      --widgetBG: #343535;
      --widgetBorder: solid #191919 1px;

      --BG: #282828;
   }

   .volumeButton:focus .volumeBar,
   .volumeButton:hover .volumeBar {
      background: #605f60;
   }
}
