@use 'sass:map';

@use '../../../../breakpoints' as *;

.songPlaying {
   display: grid;
   grid-template-columns: repeat(3, max-content);
   grid-column-gap: 2em;

   padding: 0 0.5em;

   margin-bottom: 0.5em;
}

.songPlayingInline {
   display: none;
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .songPlaying {
      display: none;
   }

   .songPlayingInline {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      grid-column-gap: 2em;
      justify-content: center;

      padding: 0 0.5em;

      margin-bottom: 0.5em;
   }
}

@media (min-width: map.get($breakpoints, 'centerSongPlaying')) {
   .songPlayingInline {
      position: absolute;
      left: 0;
      right: 0;

      width: max-content;

      margin: auto;
   }
}
