.bar {
   cursor: pointer;

   overflow: hidden;

   width: 100%;
   height: 1em;

   background: var(--barBG);
   border-radius: var(--borderRadiusStandard);
}

.verticalBar {
   display: flex;
   flex-direction: column;
   justify-content: end;

   width: 0.75em;
}

.barValue {
   pointer-events: none;

   height: 100%;

   background: var(--barTrackColor);
}
