.dialogContent {
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-column-gap: 1em;

   max-width: 65.625em;
}

.submission {
   display: none;
}

@media (min-width: 30.625em) {
   .dialogContent {
      width: 85vw;
   }

   dialog:has(.dialogContent) {
      max-width: max-content;
   }
}

@media (min-width: 36.25em) {
   .dialogContent {
      grid-template-columns: 7.5em 3fr;
   }
}

// TODO - Make a shared breakpoint
@media (min-width: 51.25em) {
   .dialogContent {
      font-size: 1.1rem;

      grid-column-gap: 3em;

      padding: .65em 0;
   }
}
