@use 'sass:map';

@use '../../../../breakpoints' as *;

.libraryViewHeader {
   display: flex;
   align-items: baseline;
}

.libraryViewHeader:focus,
.libraryViewHeader:hover {
   cursor: pointer;
}

.libraryViewHeaderText {
   margin: 0;
}

.sortArrowIcon {
   filter: var(--iconColor);

   width: 0.5em;

   margin-left: 0.5em;
}

.sortArrowIconReverse {
   rotate: 180deg;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
   .libraryViewHeaderText {
      font-size: 1.37rem;
   }
}