:root {
   --textColor: #333;
   --searchBorder: solid #d6d6d6 1px;

   --highlight: #ebeaf3;
   --selected: #e7e2e3;

   --barBG: var(--highlight);
   --barTrackColor: #ff00e6;

   --defaultCoverArtBG: #dad6d6;

   --matchAppTheme: initial;

   --widgetBG: #f7f7f7;
   --widgetBorder: solid #e3e3e3 1px;
   --borderRadiusStandard: 0.25em;

   --BG: #fff;
}

@media (prefers-color-scheme: dark) {
   :root {
      --textColor: #efefef;
      --searchBorder: #1e1e1e;

      --highlight: #464646;
      --selected: #4d4c4d;

      /* Bar BG = selected */

      --matchAppTheme: invert(1);

      --widgetBG: #343535;
      --widgetBorder: solid #191919 1px;

      --BG: #282828;

      --defaultCoverArtBG: #5a595a;
   }
}
