.queuedSongs {
   font-size: .8rem;

   display: grid;
   grid-row-gap: .5em;
   grid-template-columns: 100%;

   overflow: auto;

   // Fix annoying bug where text renders 
   //outside the song queue because of overflow.
   -webkit-mask-image: -webkit-radial-gradient(white, black);

   max-height: 14em;
}

.queuedSong {
   max-width: 100%;

   padding-bottom: .5em;
   border-bottom: var(--widgetBorder);
}

.queuedSong:last-of-type {
   padding-bottom: 0;
   border: none;
}
