@use 'sass:map';

@use '../../breakpoints.scss' as *;

.coverArt {
   width: max-content;

   padding: .75em;
   background: var(--defaultCoverArtBG);
   border-radius: var(--borderRadiusStandard);
}

.coverArtIcon {
   filter: var(--iconColor);
}

@media (min-width: map.get($breakpoints, 'scaleUpSongs')) {
   .coverArtIcon {
      width: 1.6em;
   }
}
